<h1 *ngIf="!isChange" mat-dialog-title>Create Element</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit Element</h1>
<div mat-dialog-content modal>
  <mat-form-field appearance="fill">
    <label>Id</label>
    <input matInput [(ngModel)]="data.id" [disabled]="isChange" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label>Title</label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label>Author</label>
    <!-- <input matInput [(ngModel)]="data.author"> -->
    <select matInput [(ngModel)]="data.author_id">
      <option *ngFor="let author of data.authors" [value]="author.id" [selected]="author.id == data.author_id">
        {{author.name}}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label>Barcode</label>
    <input matInput [(ngModel)]="data.barcode">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="basic" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Create</button>
  <button mat-raised-button color="primary" *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>Update</button>
</div>
